#RestServer
RestServer/.idea
RestServer/*.iws
RestServer/*.iml
RestServer/*.ipr
RestServer/target/
!RestServer/.mvn/wrapper/maven-wrapper.jar
!RestServer/**/src/main/**/target/
!RestServer/**/src/test/**/target/
RestServer/HELP.md
RestServer/.apt_generated
RestServer/.classpath
RestServer/.factorypath
RestServer/.project
RestServer/.settings
RestServer/.springBeans
RestServer/.sts4-cache
RestServer/.env

#Worker
Worker/.idea
Worker/.venv
Worker/.env

.idea